@import '../../styles/mixins.module';
@import '../../styles/variables.module';

.block {
  width: 100%;
  height: auto;
  background-color: white;
  margin-top: 10px;
  color: $c-text;
}

.item_title {
  margin: 0 2px 0 2px;
  font-size: 8px;
  text-align: left;
}

.row_title {
  padding: 10px 0 10px 9px;
  font-size: 6px;
  text-align: left;
}

.table {
  width: 100%;
}

.item {
  border-bottom: 2px dotted $c-text;
  padding: 7px;
}

@media (min-width: 768px) {
  .block {
    margin-top: 30px;
  }

  .item_title {
    font-size: 18px;
  }

  .row_title {
    font-size: 16px;
  }
}