@import './styles/mixins.module';
@import './styles/variables.module';
@import './components/Header/header';
// @import './components/Background/bg';
@import './components/OurMission/our-mission';
@import './components/Team/team-squares';
@import './components/CoverPrimary/cover-primary';
// @import './components/CoverAlt/cover-alt';
// @import './components/Cover/cover';
// @import './components/BgDifferent/bg-different';
// @import './components/BgPrimary/bg-different-primary';
// @import './components/BgLight/bg-different-light';
@import './components/Marketing/market-strategy';
// @import './components/Competitive/competitive';
@import './components/Customer/target-customer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}