@import './additionalStyles/mixins';
@import './additionalStyles/variables';
@import './components/header/header';
@import './components/bg/bg';
@import './components/our-mission/our-mission';
@import './components/team-squares/team-squares';
@import './components/cover-primary/cover-primary';
@import './components/cover-alt/cover-alt';
@import './components/cover/cover';
@import './components/bg-different/bg-different';
@import './components/bg-different-primary/bg-different-primary';
@import './components/bg-different-light/bg-different-light';
@import './components/marketing-strategy/market-strategy';
@import './components/competitive/competitive';
@import './components/target-customer/target-customer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}